.secondary-nav {
    display: block;
    text-align: center;
    clear: both;
    margin: 10px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}

.secondary-nav ul.list {
    display: block;
    clear: both;
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 250px;
}

.secondary-nav ul li {
    float: left;
    padding: 0 20px;
    display: inline-block;
}